.login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 1em;
    background-color: #d6ab5c;
}

.login a {
    text-decoration: none;
    background-color: #444;
    font-size: x-large;
    padding: 5px 20px;
    border-radius: 5%;
    font-weight: bold;
}

.login a:visited {
    color:#d6ab5c;
}


.image {
    content: url('./spotify_icon.svg');
    width: 30%;
    height: 30%;
}
